{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href='{% static "css/heart.css"%}'>
</head>
<body>
    <nav class="navbar">
        <div class="logo">{% block logo %}{% endblock logo %}</div>
        <ul class="nav-links">
            <li><a href="">Home</a> </li>
            <li><a href="">Heart</a> </li>
            <li><a href="">House</a> </li>
            <li><a href="">Cluster</a> </li>
        </ul>
    </nav>

    <div class="title">
        {% block first-div %}
        {% endblock first-div %}
    </div>

    <div class="infor">
        {% block form-place %}
        {% endblock form-place %}
        
    </div>
</body>

<footer class="footer">
    <p>&copy; 2025 HeartCare - Hệ thống dự đoán bệnh tim. Bản quyền thuộc về VietAnh1027.</p>
</footer>

</html>