{% extends "layout.html" %}

{% block title %}You are OKE{% endblock title %}

{% block logo %}HeartCare{% endblock logo %}

{% block first-div %}
<h1>Dự đoán bệnh tim</h1>
<p>Nhập thông tin sức khỏe của bạn để đánh giá nguy cơ mắc bệnh tim. Công cụ này sử dụng mô hình học máy để dự đoán khả năng mắc bệnh tim dựa trên các chỉ số y tế.</p>
<p>Chi tiết mô hình <a href="#">tại đây</a></p>
{% endblock first-div %}

{% block form-place %}
<h1 style="text-align: center; font-size: 65px">✅</h1>
<h1 style="text-align: center">Bạn không có nguy cơ mắc bệnh tim !</h1>
{% endblock form-place %}

